<!DOCTYPE html>
<html ng-app="passAppCred">

<head>
    <script src="../content/angular.min.js"></script>
    <script src="../content/angular-animate.min.js"></script>
    <script src="../content/angular-aria.min.js"></script>
    <script src="../content/angular-messages.min.js"></script>
    <script src="../content/angular-material.min.js"></script>
    <script src="../content/fontawesome-6.5.1/js/all.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../content/fontawesome-6.5.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../content/style.css">
    <link rel="stylesheet" href="../content/angular-material.min.css">
    <title>Add Credential</title>
</head>

<body ng-controller="credController">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                    <form name="credForm">
                        <md-input-container class="md-block" flex-gt-sm ng-if="!editMode">
                            <label>Name</label>
                            <input required ng-model="cred.name" name="name" md-maxlength="100">
                            <div ng-messages="credForm.name.$error" multiple ng-if="credForm.name.$dirty">
                                <div ng-message="required">File <b>must</b> have a name.</div>
                                <div ng-message="md-maxlength">File name has a maximum length of 100.</div>
                                <div ng-message="pattern">File name <b>should</b> contain words</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Username</label>
                            <input ng-model="cred.username">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>URL</label>
                            <input ng-model="cred.url">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Password</label>
                            <input ng-model="cred.password">
                            <md-icon ng-click="generatePassword()"><i class="fa fa-rotate"></i></md-icon>
                        </md-input-container>

                        <div ng-if="showPassOptions">
                            <md-input-container class="md-block" flex-gt-sm>
                                <md-slider flex class="md-primary" md-discrete ng-model="pass.length" step="1" min="6"
                                    max="128" aria-label="md-primary">
                            </md-input-container>

                            <div layout="row">
                                <md-switch class="md-primary" name="special" ng-model="pass.numbers" required>
                                    Numbers
                                </md-switch>
                                <md-switch class="md-primary" name="special" ng-model="pass.uppercase" required>
                                    Uppercase
                                </md-switch>
                                <md-switch class="md-primary" name="special" ng-model="pass.symbols" required>
                                    Symbols
                                </md-switch>

                            </div>
                        </div>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>OTP token</label>
                            <input ng-model="cred.otpToken">
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Notes</label>
                            <textarea ng-model="cred.notes" rows="5"></textarea>
                        </md-input-container>

                        <md-button ng-disabled="credForm.$invalid" class="md-raised md-primary" type="submit" ng-click="createEntry()" style="width: 100%;">Submit</md-button>
                    </form>

                </md-content>
            </div>
        </div>
    </div>

    <script src="./lib/content-parser.js"></script>
    <script src="./lib/cryto.js"></script>
    <script>
        require('./addCredential.js')
    </script>
</body>

</html>