<!DOCTYPE html>
<html ng-app="passApp">

<head>
	<script src="../content/angular.min.js"></script>
	<script src="../content/angular-animate.min.js"></script>
	<script src="../content/angular-aria.min.js"></script>
	<script src="../content/angular-messages.min.js"></script>
	<script src="../content/angular-material.min.js"></script>
	<script src="../content/fontawesome-6.5.1/js/all.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../content/fontawesome-6.5.1/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../content/style.css">
	<link rel="stylesheet" href="../content/angular-material.min.css">
	<title>Pass Book</title>
</head>

<body>

	<div ng-controller="mainController" ng-cloak layout-gt-xs="row">
		<div flex-gt-sm="30" flex>
			<md-toolbar layout="row" class="md-primary">
				<div class="md-toolbar-tools" style="display: flex; align-items: center; justify-content: center;">
					<span>PassBook</span>
				</div>
			</md-toolbar>
			<md-input-container class="md-block" flex-gt-xs>
				<input ng-model="searchTerm" ng-keyup="search()" placeholder="Search ...">
			</md-input-container>

			<md-button class="md-raised md-primary" ng-click="back()" ng-if="stack.length > 0"
				style="width:100%;">Back</md-button>

			<md-content>
				<md-list flex style="overflow: auto; max-height: 600px;">
					<md-list-item class="md-2-line" ng-repeat="item in menu" ng-click="onClick(item)">
						<md-icon class="md-avatar">
							<i class="fa fa-key" ng-if="item.file"></i>
							<i class="fa fa-folder" ng-if="item.directory"></i>
						</md-icon>
						<div class="md-list-item-text">
							<h3>{{ item.name }}</h3>
						</div>

					</md-list-item>
				</md-list>
			</md-content>
			<md-button ng-click="addCredential()" class="floating-button md-accent md-fab md-fab-bottom-right"><i
					class="fa fa-plus"></i> </md-button>
			<md-button ng-click="sync()" class="floating-button md-accent md-fab md-fab-top-right"><i
					class="fa fa-rotate"></i> </md-button>
		</div>

		<div flex-gt-sm="70" flex>
			<md-content>
				<md-card ng-if="cred != null">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline md-primary">{{cred.name}}</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>
						<md-list flex>
							<md-list-item class="md-2-line" ng-if="cred.username"
								ng-mouseover="cred.showUsernameCopy = true"
								ng-mouseleave="cred.showUsernameCopy = false" ng-click="copyToClipboard(cred.username)">
								<md-icon class="md-avatar"><i class="fa fa-user-tie"></i></md-icon>
								<div class="md-list-item-text">
									<p> username </p>
									<h3> {{cred.username}} </h3>
								</div>
								<md-button ng-if="cred.showUsernameCopy" class="md-secondary md-icon-button"
									ng-click="copyToClipboard(cred.password)" aria-label="call">
									<md-icon><i class="fa fa-copy"></i></md-icon>
								</md-button>
							</md-list-item>
							<md-list-item class="md-2-line" ng-if="cred.password"
								ng-click="copyToClipboard(cred.password)" ng-mouseover="cred.showPasswordCopy = true"
								ng-mouseleave="cred.showPasswordCopy = false">
								<md-icon class="md-avatar"><i class="fa fa-key"></i></md-icon>
								<div class="md-list-item-text">
									<p> password </p>
									<h3> {{password}} </h3>
								</div>
								<md-button ng-if="cred.showPasswordCopy" class="md-secondary md-icon-button"
									ng-click="copyToClipboard(cred.password)" aria-label="call">
									<md-icon><i class="fa fa-copy"></i></md-icon>
								</md-button>

								<md-button class="md-secondary md-icon-button" ng-if="!cred.showPassword"
									ng-click="showPassword(cred)" aria-label="call">
									<md-icon><i class="fa fa-eye"></i></md-icon>
								</md-button>
								<md-button class="md-secondary md-icon-button" ng-if="cred.showPassword"
									ng-click="hidePassword(cred)" aria-label="call">
									<md-icon><i class="fa fa-eye-slash"></i></md-icon>
								</md-button>
							</md-list-item>
							<md-list-item class="md-2-line" ng-if="cred.otp" ng-click="copyToClipboard(cred.otp)"
								ng-mouseover="cred.showOtpCopy = true" ng-mouseleave="cred.showOtpCopy = false">
								<md-icon class="md-avatar"><i class="fa fa-clock"></i></md-icon>
								<div class="md-list-item-text">
									<p> otp </p>
									<h3> {{cred.otp}}
										<span ng-if="cred.remainingTime" ng-style="{'color': remainingColor }">
											(Expires in {{cred.remainingTime}}s)
										</span>
									</h3>
								</div>
								<md-button ng-if="cred.showOtpCopy" class="md-secondary md-icon-button"
									ng-click="copyToClipboard(cred.otp)" aria-label="call">
									<md-icon><i class="fa fa-copy"></i></md-icon>
								</md-button>
							</md-list-item>
							<md-list-item class="md-2-line" ng-if="cred.url" ng-click="copyToClipboard(cred.url)"
								ng-mouseover="cred.showUrlCopy = true" ng-mouseleave="cred.showUrlCopy = false">
								<md-icon class="md-avatar"><i class="fa fa-link"></i></md-icon>
								<div class="md-list-item-text">
									<p> url </p>
									<h3> {{cred.url}} </h3>
								</div>
								<md-button ng-if="cred.showUrlCopy" class="md-secondary md-icon-button"
									ng-click="copyToClipboard(cred.url)" aria-label="call">
									<md-icon><i class="fa fa-copy"></i></md-icon>
								</md-button>
							</md-list-item>
							<md-list-item class="md-2-line" ng-if="cred.notes">
								<md-icon class="md-avatar"><i class="fa fa-note-sticky"></i></md-icon>
								<div class="md-list-item-text">
									<p> notes </p>
									<pre>{{cred.notes}}</pre>
								</div>
								<md-button class="md-secondary md-icon-button" ng-click="copyToClipboard(cred.notes)"
									aria-label="call">
									<md-icon><i class="fa fa-copy"></i></md-icon>
								</md-button>
							</md-list-item>
						</md-list>

						<md-button class="md-raised md-primary" ng-if="!cred.rawVisible"
							ng-click="cred.rawVisible = true">Show raw</md-button>
						<md-button class="md-raised md-primary" ng-if="cred.rawVisible"
							ng-click="cred.rawVisible = false">Hide raw</md-button>
						<div ng-if="cred.rawVisible">
							<pre>{{cred.raw}}</pre>
						</div>

					</md-card-content>
					<md-card-actions layout="row" layout-align="end center">
						<md-button ng-click="editCredential(cred)"><i class="fa fa-pen-to-square"></i></md-button>
						<md-button ng-click="deleteCredential(cred)"><i class="fa fa-trash-can"></i></md-button>
					</md-card-actions>
				</md-card>
			</md-content>

		</div>

	</div>

	<script src="./lib/toast.js"></script>
	<script src="./lib/totp.js"></script>
	<script src="./lib/content-parser.js"></script>
	<script src="./lib/cryto.js"></script>
	<script>
		require('./app.js')
	</script>
</body>

</html>