<!DOCTYPE html>
<html ng-app="passApp">

<head>
	<script src="../content/angular.min.js"></script>
	<script src="../content/angular-animate.min.js"></script>
	<script src="../content/angular-aria.min.js"></script>
	<script src="../content/angular-messages.min.js"></script>
	<script src="../content/angular-material.min.js"></script>
	<script src="../content/fontawesome-6.5.1/js/all.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../content/fontawesome-6.5.1/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="../content/style.css">
	<link rel="stylesheet" href="../content/angular-material.min.css">
	<title>Pass Book</title>
</head>

<body>

	<div ng-controller="mainController" ng-cloak layout-gt-xs="row">
		<div flex-gt-sm="30" flex>
			<md-toolbar layout="row" class="md-hue-1">
				<div class="md-toolbar-tools">
					<span>PassBook</span>
				</div>
			</md-toolbar>
			<md-input-container class="md-block" flex-gt-xs>
				<input ng-model="searchTerm" ng-keyup="search()" placeholder="Search ...">
			</md-input-container>

			<md-content>
				<md-list flex style="overflow: auto; max-height: 600px;">
					<md-subheader class="md-sticky">
						<md-button class="md-raised" ng-click="back()" ng-if="stack.length > 0"
							style="width:100%;">Back</md-button>
					</md-subheader>
					<md-list-item class="md-2-line" ng-repeat="item in menu" ng-click="onClick(item)"
						style="cursor: pointer;">
						<md-icon>
							<i class="fa fa-key" ng-if="item.file"></i>
							<i class="fa fa-folder" ng-if="item.directory"></i>
						</md-icon>
						<div class="md-list-item-text" >
							<h3> {{ item.name }} </h3>
						</div>

					</md-list-item>
				</md-list>
			</md-content>
			<md-button ng-click="addCredential()" class="floating-button md-accent md-fab md-fab-bottom-right"><i
					class="fa fa-plus"></i> </md-button>
			<md-button ng-click="sync()" class="floating-button md-accent md-fab md-fab-top-right"><i
					class="fa fa-rotate"></i> </md-button>
		</div>

		<div flex-gt-sm="70" flex>
			<md-content>
				<md-card ng-if="cred != null">
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">{{cred.name}}</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content>

						<table>
							<tr ng-if="cred.username">
								<td>Username</td>
								<td>{{cred.username}}</td>
								<td><span ng-click="copyToClipboard(cred.username)"> <i class="fa fa-copy"></i></span>
								</td>
							</tr>
							<tr ng-if="cred.password">
								<td>password</td>
								<td>{{password}}</td>
								<td>
									<span ng-if="!cred.showPassword" ng-click="showPassword(cred)"><i class=" fa
									fa-eye"></i></span>
									<span ng-if="cred.showPassword" ng-click="hidePassword(cred)"><i
											class="fa fa-eye-slash"></i></span>
									<span ng-click="copyToClipboard(cred.password)"> <i class="fa fa-copy"></i></span>
								</td>
							</tr>
							<tr ng-if="cred.url">
								<td>URL</td>
								<td><a href="{{cred.url}}">{{cred.url}}</a></td>
							</tr>
							<tr ng-if="cred.otp">
								<td>OTP</td>
								<td>{{cred.otp}}
									<span ng-style="{'color': remainingColor }"> (Expires in {{cred.remainingTime}}s)
									</span>
								</td>
								<td><span ng-click="copyToClipboard(cred.otp)"> <i class="fa fa-copy"></i></span>
							</tr>
							<tr ng-if="cred.notes">
								<td>Notes</td>
								<td>{{cred.notes}}</td>
							</tr>


						</table>

					</md-card-content>
					<md-card-actions layout="row" layout-align="end center">
						<md-button ng-click="editCredential(cred)"><i class="fa fa-pen-to-square"></i></md-button>
						<md-button ng-click="deleteCredential(cred)"><i class="fa fa-trash-can"></i></md-button>
					</md-card-actions>
				</md-card>
			</md-content>

		</div>

	</div>





	<!-- <md-content>
		<div class="row">
			<div class="col s4">
				<div
					style="background-color:darkcyan;width:100%;height:70px;line-height:70px;font-size:18pt;color:white;text-align:center;">
					PassBook
				</div>

				<md-input-container class="md-block" flex-gt-xs>
					<input ng-model="searchTerm" ng-keyup="search()" placeholder="Search ...">
				</md-input-container>

				<button type="button" class="btn" id="btn_back" ng-click="back()" ng-if="stack.length > 0"
					style="margin-top:3px;background-color:rgb(69, 131, 69);width:100%;">Back</button>
				<div style="overflow:scroll;height:560px;border-right:1px lightgray solid;">
					<md-list flex>
						<md-list-item class="md-1-line" ng-repeat="item in menu" ng-click="onClick(item)"
							style="cursor: pointer;">
							<div class="md-list-item-text" layout="column">
								<i class="fa fa-folder" ng-if="item.directory"></i>
								<i class="fa fa-key" ng-if="item.file"></i>
								<span>{{ item.name }}</span>
							</div>
						</md-list-item>
					</md-list>
				</div>
			</div>
			<div class="col s8">
				<div style="text-align: right; color: blue;">{{showCopied}}</div>
				<div id="empty_credential" ng-if="!cred"
					style="font-size: 14pt; margin-top:30%; color: darkcyan; text-align: center;">No
					items to display</div>
				<div ng-if="cred != null">
					<md-card ng-if="cred != null">
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">{{cred.name}}</span>
							</md-card-title-text>
						</md-card-title>
						<md-card-content>

							<table>
								<tr ng-if="cred.username">
									<td>Username</td>
									<td>{{cred.username}}</td>
									<td><span ng-click="copyToClipboard(cred.username)"> <i
												class="fa fa-copy"></i></span></td>
								</tr>
								<tr ng-if="cred.password">
									<td>password</td>
									<td>{{password}}</td>
									<td>
										<span ng-if="!cred.showPassword" ng-click="showPassword(cred)"><i class=" fa
											fa-eye"></i></span>
										<span ng-if="cred.showPassword" ng-click="hidePassword(cred)"><i
												class="fa fa-eye-slash"></i></span>
										<span ng-click="copyToClipboard(cred.password)"> <i
												class="fa fa-copy"></i></span>
									</td>
								</tr>
								<tr ng-if="cred.url">
									<td>URL</td>
									<td>{{cred.url}}</td>
								</tr>
								<tr ng-if="cred.otp">
									<td>OTP</td>
									<td>{{cred.otp}}
										<span ng-style="{'color': remainingColor }"> (Expires in {{cred.remainingTime}}s) </span>
									</td>
									<td><span ng-click="copyToClipboard(cred.otp)"> <i class="fa fa-copy"></i></span>
								</tr>
								<tr ng-if="cred.notes">
									<td>Notes</td>
									<td>{{cred.notes}}</td>
								</tr>


							</table>

						</md-card-content>
						<md-card-actions layout="row" layout-align="end center">
							<md-button ng-click="editCredential(cred)"><i class="fa fa-pen-to-square"></i></md-button>
							<md-button ng-click="deleteCredential(cred)"><i class="fa fa-trash-can"></i></md-button>
						</md-card-actions>
					</md-card>
					{{content}}
				</div>
			</div>
		</div>
		<md-button ng-click="addCredential()" class="floating-button md-accent md-fab md-fab-top-right"><i
				class="fa fa-plus"></i> </md-button>
	</md-content> -->

	<script src="./lib/toast.js"></script>
	<script src="./lib/totp.js"></script>
	<script src="./lib/content-parser.js"></script>
	<script src="./lib/cryto.js"></script>
	<script>
		require('./app.js')
	</script>
</body>

</html>